<div>
    <div style="margin-bottom:20px">
        <mat-icon style="color:#1B2B4B; zoom: 2; float:left; margin-right: 5px">calendar_today</mat-icon> 
        <div>
            <h2 style="color:#1B2B4B; margin:0px; line-height: 25px;">Health Coverage</h2>
            <h2 style="color:white; margin:0px; line-height: 25px;">Reimagined</h2>
        </div>
    </div>

    <mat-divider></mat-divider>

    <img src="assets/homepage-img.png" style="float:right; width: 600px; margin-right: 100px; margin-top: 50px">

    <div style="height:150px"></div>

    <h1 style="color: white; width: 500px; word-wrap:normal; font-weight: 700;">Tell us a little about you...</h1>

    <form [formGroup]="registerForm">
        <div>
            <div style="display: inline; margin-right: 10px">
                <mat-form-field appearance="legacy">
                    <mat-label>USERNAME</mat-label>
                    <input matInput [disabled]="working" formControlName="username">
                    <mat-error *ngIf="registerForm.get('username').invalid">
                        <div *ngIf="registerForm.get('username').errors.required">
                            Username is required.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div style="display: inline; margin-right: 10px">
                <mat-form-field appearance="legacy">
                    <mat-label>PASSWORD</mat-label>
                    <input matInput [disabled]="working" formControlName="password">
                    <mat-error *ngIf="registerForm.get('password').invalid">
                        <div *ngIf="registerForm.get('password').errors.required">
                            Password is required.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div>
            <div style="padding-right:10px; display: inline;">
                <mat-form-field appearance="legacy">
                    <mat-label>ZIPCODE</mat-label>
                    <input matInput [disabled]="working" formControlName="zipCode">
                    <mat-error *ngIf="registerForm.get('zipCode').invalid">
                        <div *ngIf="registerForm.get('zipCode').errors.required">
                            Zipcode is required.
                        </div>
                        <div *ngIf="registerForm.get('zipCode').errors.pattern">
                            Zipcode must be 5 digits.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        
            <div style="padding-right:10px; display: inline;">
                <mat-form-field appearance="legacy">
                    <mat-label>TARGET</mat-label>
                    <mat-select [disabled]="working" formControlName="target">
                        <mat-option value="individual">Individual</mat-option>
                        <mat-option value="family">Family</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerForm.get('target').invalid">
                        <div *ngIf="registerForm.get('target').errors.required">
                            Target is required.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="registerForm.get('target').value === 'individual'" >
            <div style="padding-right:10px; display:inline">
                <mat-form-field appearance="legacy">
                    <mat-label>AGE</mat-label>
                    <input matInput [disabled]="working" formControlName="age" type="number">
                    <mat-error *ngIf="registerForm.get('age').invalid">
                        <div *ngIf="registerForm.get('age').errors">
                            {{registerForm.get('age').errors.age}}
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="padding-right:10px; display:inline">
                <mat-form-field appearance="legacy">
                    <mat-label>TOBACCO USAGE</mat-label>
                    <mat-select [disabled]="working" formControlName="usesTobacco">
                        <mat-option [value]="true">I smoke tobacco</mat-option>
                        <mat-option [value]="false">I don't smoke tobacco</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerForm.get('usesTobacco').invalid">
                        Needs to provide a value.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <div *ngIf="registerForm.get('target').value === 'family'">
            <div style="padding-right:10px; display:inline">
                <mat-form-field appearance="legacy">
                    <mat-label>NUMBER OF DEPENDENTS</mat-label>
                    <input matInput [disabled]="working" formControlName="numChildren" type="number">
                    <mat-error *ngIf="registerForm.get('numChildren').invalid">
                        <div *ngIf="registerForm.get('numChildren').errors">
                            {{registerForm.get('numChildren').errors.numChildren}}
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div style="padding-right:10px; display:inline">
                <mat-form-field appearance="legacy">
                    <mat-label>SPOUSE</mat-label>
                    <mat-select [disabled]="working" formControlName="hasSpouse">
                        <mat-option [value]="true">I have a spouse</mat-option>
                        <mat-option [value]="false">I don't have a spouse</mat-option>
                    </mat-select>
                    <mat-error *ngIf="registerForm.get('hasSpouse').invalid">
                        Needs to provide a value.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    
        <div>
            <button mat-flat-button style="background-color: #1F2B49; color: white" *ngIf="!registerForm.errors; else submitButtonElseBlock" [disabled]="working" (click)="onPressRegister()">SUBMIT</button>
            <ng-template #submitButtonElseBlock>
                <button mat-flat-button invalid style="background-color: transparent;">SUBMIT</button>
                <mat-error>{{registerForm.errors.errorText}}</mat-error>
            </ng-template>
        </div>
    </form>
</div>