/* ========== Fonts ========== */
$font-sans: 'Roboto';
$font-serif: 'EB Garamond';

/* ========== Colors ========== */
$bg-color: white;

/* primary colors */
$primary-color-500: #4DB6AC; /* main primary color */
$primary-color-400: #B2DFDB;

/* secondary colors */
$secondary-color-400: #FFECB3;
$secondary-color-500: #FFE082; /* main secondary color */
$secondary-color-600: #FFC107;

/* text colors */
$heading-color: black;
$body-text-color: black;
$placeholder-color: grey;

/* ========== Breakpoints ========== */

$bp-laptop: 1400px;
$bp-tablet: 786px;
$bp-mobile: 450px;

/* ========== Spacing ========== */
$bar-padding-left: 50px; // for the left space on the header and footer