<div class="wrapper">
    <!-- Same styles for login & registeration page -->
    <header>
        <mat-icon>calendar_today</mat-icon>
        <div>
            <h2>Health Coverage </h2>
            <h2 style="color: white">Reimagined</h2>
        </div>
    </header>

    <div class="img-wrapper">
        <img src="assets/homepage-img.png" alt="background image">
    </div>
    <!-- End of  Same styles for login & registeration page -->
    <main>
        <div class="divider"></div>

        <h1>Find health insurance plans that are
            suited for you.</h1>
        <p class="caption">We have created a matching algorithm that
            understands
            your healthcare needs and recommends plans based on your previous usage.</p>

        <form [formGroup]="loginForm">
            <div style="display: inline">
                <mat-form-field appearance="legacy">
                    <mat-label>USERNAME</mat-label>
                    <input matInput [disabled]="working" formControlName="username">
                    <mat-error *ngIf="loginForm.get('username').invalid" style="color:darkred">
                        <div *ngIf="loginForm.get('username').errors.required">
                            Username is required.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>

            <div style="display: inline; margin-left: 10px">
                <mat-form-field appearance="legacy">
                    <mat-label>PASSWORD</mat-label>
                    <input matInput [disabled]="working" formControlName="password">
                    <mat-error *ngIf="loginForm.get('password').invalid" style="color:darkred">
                        <div *ngIf="loginForm.get('password').errors.required">
                            Password is required.
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <button mat-flat-button class="buttons" [disabled]="working || loginForm.errors"
                    (click)="onPressLogin()"> LOGIN </button>
                <button mat-flat-button class="buttons" style="margin-left: 25px;" [disabled]="working"
                    (click)="onPressRegister()">REGISTER</button>
            </div>
        </form>
    </main>

    <footer>
        <p class="footer-caption">© Powered by Clinovations</p>
    </footer>
</div>