<button (click)="onPressed()"></button>

<form [formGroup]="patientDataForm" *ngIf="!hasData">
    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Zipcode</mat-label>
            <input matInput formControlName="zipCode">
            <mat-error *ngIf="patientDataForm.get('zipCode').invalid">
                <div *ngIf="patientDataForm.get('zipCode').errors.required">
                    Zipcode is required.
                </div>
                <div *ngIf="patientDataForm.get('zipCode').errors.pattern">
                    Zipcode must be 5 digits.
                </div>
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="legacy">
            <mat-label>Target</mat-label>
            <mat-select formControlName="target">
                <mat-option value="individual">Individual</mat-option>
                <mat-option value="family">Family</mat-option>
            </mat-select>
            <mat-error *ngIf="patientDataForm.get('target').invalid">
                <div *ngIf="patientDataForm.get('target').errors.required">
                    Target is required.
                </div>
            </mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="patientDataForm.get('target').value === 'individual'" >
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" type="number">
                <mat-error *ngIf="patientDataForm.get('age').invalid">
                    <div *ngIf="patientDataForm.get('age').errors">
                        {{patientDataForm.get('age').errors.age}}
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Tobacco Usage</mat-label>
                <mat-select formControlName="usesTobacco">
                    <mat-option [value]="true">I smoke tobacco</mat-option>
                    <mat-option [value]="false">I don't smoke tobacco</mat-option>
                </mat-select>
                <mat-error *ngIf="patientDataForm.get('usesTobacco').invalid">
                    Needs to provide a value.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="patientDataForm.get('target').value === 'family'">
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Number of Dependents</mat-label>
                <input matInput formControlName="numChildren" type="number">
                <mat-error *ngIf="patientDataForm.get('numChildren').invalid">
                    <div *ngIf="patientDataForm.get('numChildren').errors">
                        {{patientDataForm.get('numChildren').errors.numChildren}}
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="legacy">
                <mat-label>Spouse</mat-label>
                <mat-select formControlName="hasSpouse">
                    <mat-option [value]="true">I have a spouse</mat-option>
                    <mat-option [value]="false">I don't have a spouse</mat-option>
                </mat-select>
                <mat-error *ngIf="patientDataForm.get('hasSpouse').invalid">
                    Needs to provide a value.
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div>
        <button mat-flat-button color="primary" *ngIf="!patientDataForm.errors" (click)="onSubmit()">SUBMIT</button>
        <button mat-flat-button invalid *ngIf="patientDataForm.errors">SUBMIT</button>
    </div>
</form>

<div *ngIf="hasData">
    <div align="right">
        <mat-slide-toggle [checked]="showingPreDeductible" (change)="showingPreDeductible=$event.checked">
            Pre-Deductible
        </mat-slide-toggle>
    </div>

    <mat-expansion-panel *ngFor="let plan of (getPlans(sortingCriterion) | async)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{plan.name}}</b>
            </mat-panel-title>
            <mat-panel-description style="font-size:20px;">
                <div [ngClass]="{bronze: plan.metalLevel === 'expanded bronze' || plan.metalLevel === 'bronze', silver: plan.metalLevel === 'silver', catastrophic: plan.metalLevel === 'catastrophic', platinum: plan.metalLevel === 'platinum', gold: plan.metalLevel === 'gold'}">{{plan.metalLevel.trim().toUpperCase()}}</div>
                <p style="width:100px; text-align:end;">${{plan.cost | number:'1.2-2'}}</p>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div>
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">MONTHLY PREMIUM</p>
                <p style="font-size:30px">${{plan.premium | number:'1.2-2'}}</p>
            </div>
    
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">ANNUAL PREMIUM COST</p>
                <p style="font-size:30px">${{plan.premium * 12 | number:'1.2-2'}}</p>
            </div>
    
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">ESTIMATED OOP COST</p>
                <p style="font-size:30px">${{plan.outOfPocket | number:'1.2-2'}}</p>
            </div>
    
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">TOTAL ESTIMATED MEDICAL COST</p>
                <p style="font-size:30px">${{plan.cost | number:'1.2-2'}}</p>
            </div>
        </div>

        <div>
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">DEDUCTIBLE</p>
                <p style="font-size:30px">${{plan.deductible | number:'1.2-2'}}</p>
            </div>
    
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">MAXIMUM OOP</p>
                <p style="font-size:30px">${{plan.maximumOutOfPocket | number:'1.2-2'}}</p>
            </div>
    
            <div class="price-box">
                <p style="font-size:12px; font-weight:200">MAXIMUM POSSIBLE MEDICAL COST</p>
                <p style="font-size:30px">${{plan.maximumOutOfPocket + plan.premium * 12 | number:'1.2-2'}}</p>
            </div>
        </div>

        <div *ngFor="let benefit of plan.benefits | keyvalue" style="margin-top:10px;">
            {{benefit.value.covered}}
            <div style="display:flex;">
                <div style="flex:auto;">
                    <p style="font-weight:600;">{{benefit.key}}</p>
                    <p>Some description text to describe what's going on with this benefit.</p>
                </div>
                <div style="display:flex; justify-content:flex-end; width:30px; flex-wrap:wrap" *ngIf="(showingPreDeductible && benefit.value.preDeductible.copay) || (!showingPreDeductible && benefit.value.afterDeductible.copay)">
                    <div style="font-size:12px; font-weight:200">COPAY</div>
                    <div style="font-size:30px">${{showingPreDeductible ? benefit.value.preDeductible.copay.amount : benefit.value.afterDeductible.copay.amount}}</div>
                </div>
                <div style="display:flex; justify-content:flex-end; width:30px; flex-wrap:wrap" *ngIf="(showingPreDeductible && benefit.value.preDeductible.coinsurance) || (!showingPreDeductible && benefit.value.afterDeductible.coinsurance)">
                    <div style="font-size:12px; font-weight:200">COINSURANCE</div>
                    <div style="font-size:30px">{{showingPreDeductible ? benefit.value.preDeductible.coinsurance.amount : benefit.value.afterDeductible.coinsurance.amount}}%</div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</div>