<h2 style="text-align: center; font-family: Helvetica">TELL US A BIT ABOUT YOURSELF...</h2>

<form [formGroup]="patientDataForm">
    <tr>
        <td style="padding-right:15px">
            <mat-form-field appearance="legacy">
                <mat-label>Zipcode</mat-label>
                <input matInput formControlName="zipCode">
                <mat-error *ngIf="patientDataForm.get('zipCode').invalid">
                    <div *ngIf="patientDataForm.get('zipCode').errors.required">
                        Zipcode is required.
                    </div>
                    <div *ngIf="patientDataForm.get('zipCode').errors.pattern">
                        Zipcode must be 5 digits.
                    </div>
                </mat-error>
            </mat-form-field>
        </td>
    
        <td style="padding-right:15px">
            <mat-form-field appearance="legacy">
                <mat-label>Target</mat-label>
                <mat-select formControlName="target">
                    <mat-option value="individual">Individual</mat-option>
                    <mat-option value="family">Family</mat-option>
                </mat-select>
                <mat-error *ngIf="patientDataForm.get('target').invalid">
                    <div *ngIf="patientDataForm.get('target').errors.required">
                        Target is required.
                    </div>
                </mat-error>
            </mat-form-field>
        </td>
    
        <div *ngIf="patientDataForm.get('target').value === 'individual'" >
            <td style="padding-right:15px">
                <mat-form-field appearance="legacy">
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="age" type="number">
                    <mat-error *ngIf="patientDataForm.get('age').invalid">
                        <div *ngIf="patientDataForm.get('age').errors">
                            {{patientDataForm.get('age').errors.age}}
                        </div>
                    </mat-error>
                </mat-form-field>
            </td>
            <td style="padding-right:15px">
                <mat-form-field appearance="legacy">
                    <mat-label>Tobacco Usage</mat-label>
                    <mat-select formControlName="usesTobacco">
                        <mat-option [value]="true">I smoke tobacco</mat-option>
                        <mat-option [value]="false">I don't smoke tobacco</mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientDataForm.get('usesTobacco').invalid">
                        Needs to provide a value.
                    </mat-error>
                </mat-form-field>
            </td>
        </div>
    
        <div *ngIf="patientDataForm.get('target').value === 'family'">
            <td style="padding-right:15px">
                <mat-form-field appearance="legacy">
                    <mat-label>Number of Dependents</mat-label>
                    <input matInput formControlName="numChildren" type="number">
                    <mat-error *ngIf="patientDataForm.get('numChildren').invalid">
                        <div *ngIf="patientDataForm.get('numChildren').errors">
                            {{patientDataForm.get('numChildren').errors.numChildren}}
                        </div>
                    </mat-error>
                </mat-form-field>
            </td>
            <td style="padding-right:15px">
                <mat-form-field appearance="legacy">
                    <mat-label>Spouse</mat-label>
                    <mat-select formControlName="hasSpouse">
                        <mat-option [value]="true">I have a spouse</mat-option>
                        <mat-option [value]="false">I don't have a spouse</mat-option>
                    </mat-select>
                    <mat-error *ngIf="patientDataForm.get('hasSpouse').invalid">
                        Needs to provide a value.
                    </mat-error>
                </mat-form-field>
            </td>
        </div>
        <td>
            <button mat-flat-button color="primary" *ngIf="!patientDataForm.errors; else submitButtonElseBlock" (click)="onSubmit()">SUBMIT</button>
            <ng-template #submitButtonElseBlock>
                <button mat-flat-button invalid>SUBMIT</button>
                <mat-error>{{patientDataForm.errors.errorText}}</mat-error>
            </ng-template>
        </td>
    </tr>

    <div>
        <div *ngIf="!fhirService.authenticated; else connectWithFhirElseBlock">
            <button mat-flat-button (click)="connectWithFhir('Cerner')" style="margin-right: 10px; background-color: blue; color: #ffffff" >Connect With Cerner</button>
            <button mat-flat-button color="accent" (click)="connectWithFhir('AllScripts')" style="margin-right: 10px" >Connect With AllScripts</button>
            <button mat-flat-button color="accent" (click)="connectWithFhir('Epic')" style="margin-right: 10px" >Connect With Epic</button>
        </div>
        <ng-template #connectWithFhirElseBlock>
            <div>
                Hey, {{(fhirService.patientObservable | async)?.name[0].given[0]}}! We've connected to your medical records. Here's the list of your encounters in the past year:
            </div>

            <table>
                <tr>
                    <td>Name</td>
                    <td>Location</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                </tr>
                <tr *ngFor="let encounter of fhirService.encountersObservable | async">
                    <td>{{encounter.type[0].text}}</td>
                    <td>{{encounter.location[0].location.display}}</td>
                    <td>{{encounter.period.start}}</td>
                    <td>{{encounter.period.end}}</td>
                </tr>
            </table>
        </ng-template>
    </div>
</form>

