
.price-box {
    display:inline-block;
    margin-right:40px;
}

.metal-display {
    font-size:15px;
    text-align:end;
    vertical-align:bottom;
    margin-right:10px;
}

.bronze {
    color:#a97142;
    @extend .metal-display;
}

.silver {
    color:silver;
    @extend .metal-display;
}

.gold {
    color:gold;
    @extend .metal-display;
}

.platinum {
    color:#e5e4e2;
    @extend .metal-display;
}

.catastrophic {
    color:red;
    @extend .metal-display;
}

mat-panel-description {
    display: flex;
    justify-content: flex-end;
}