@import "~src/styles/variables";

main{
    width: 70vw;
}
h1{
    font-family: $font-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;

    margin-bottom: 10px;
}
.caption{
    margin-bottom: 40px;
}
.filter-wrapper{
    display:flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;

    .filter-options{
        margin-bottom: 10px;
        flex-basis: 50%;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    .filter-items{
        margin-right: 20px;
    }
    .filter-dropdown{
        background-color: lightgrey;
        width: 70%;
        padding: 10px;
    }
}
.table-heading{
    display: flex;
    justify-content: space-around;
    background-color: $secondary-color-300;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px lightgray;
    .column-names{
        font-weight: 600;
        padding: 10px;
        margin: 0;
    }
}

.panel-wrapper{
    margin-bottom: 20px;
    padding: 0px;
    background-color: white;
    border-radius: 0;

    .panel-headers{
        height: auto;
        padding: 0 10px 0 0;
        background-color: $primary-color-400;
        &:hover{
            background-color: $primary-color-400;
        }

        .panel-title{
            margin: 0;
            padding: 20px 30px;
            font-family: 'EB Garamond', serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2rem;
            background-color: $secondary-color-500;
        }
        mat-panel-description{
            justify-content: space-around;
            text-align: center;
            flex-basis: 30%;
            margin: 0;

            .panel-medal{
                width: 50%;
                margin: 0;
                padding: 0;
                text-align: center;
                background-color: $secondary-color-400;

                display: flex;
                align-items: center;
            }
            .panel-cost{
                width: 50%;
                margin: 0;
                padding: 0;
                background-color: $primary-color-400;
                display: flex;
                align-items: center;

                font-family: $font-serif, serif;
                font-size: 1.5rem;
                font-weight: 600;
                line-height: 2rem;
            }
        }
    }

    .panel-body {
        padding: 20px 24px 16px;
        .top-stats{
            display: flex;
            flex-wrap: wrap;
        
            .price-box { /* each flex item in top-stats*/
                flex: 0 0 25%;
                display: inline-block;
                margin-bottom: 20px;
            }
        }
        .bottom-stats{
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid black;
            display: flex;
            justify-content: space-between;

            .you-pay{
                margin-left: 15px;
                display: flex;
                justify-content: flex-end;
                width: 60px;
                flex-wrap: wrap;
            }
        }
        .price-name{
            margin: 0;
            padding: 0;
            font-size: 1rem;
        }
        .price-cost{
            margin: 0;
            padding: 0;

            font-family: 'EB Garamond', serif;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2rem;
        }
    }
}

.metal-display {
    font-size:15px;
    text-align:end;
    vertical-align:bottom;
    margin-right:10px;
}

.bronze {
    color:#a97142;
    @extend .metal-display;
}

.silver {
    color:silver;
    @extend .metal-display;
}

.gold {
    color:gold;
    @extend .metal-display;
}

.platinum {
    color:#e5e4e2;
    @extend .metal-display;
}

.catastrophic {
    color:red;
    @extend .metal-display;
}

mat-panel-description {
    display: flex;
    justify-content: flex-end;
}

@media all and (max-width: $bp-tablet){
    .filter-wrapper{
        .filter-options{
            flex-basis: 100%;
        }
        .filter-dropdown{      
            width: 100%;
        }
    }
}