<div *ngIf="(userService.currUser | async)?.lastRecommendPlans !== null; else elseBlock">
    <main>
        <h1>Recommended Plans</h1>
        <p class="caption">Here are the top 3 plans we found based on your information.</p>

        <div class="filter-wrapper">
            <div class="filter-options">
                <mat-label style="margin-right: 20px;">FILTER BY</mat-label>
                <mat-select class="filter-dropdown" [(value)]="sortingCriterion">
                    <mat-option *ngFor="let criterion of sortingCriterions" [value]="criterion">
                        {{criterion}}
                    </mat-option>
                </mat-select>
            </div>
            <mat-slide-toggle style="margin-bottom: 10px;" [checked]="!showingPreDeductible"
                (change)="showingPreDeductible=!$event.checked">
                POST-DEDUCTIBLE
            </mat-slide-toggle>
            <button mat-flat-button class="buttons" style="margin-left: auto; margin-bottom: 10px;"
                [disabled]="isWorking" (click)="onGetNewRecommendations()">
                UPDATE
                RECOMMENDATIONS </button>
        </div>
        <div class="table-heading">
            <h4 class="column-names" style="flex-basis: 65%;">Plan Name</h4>
            <h4 class="column-names">Medal</h4>
            <h4 class="column-names">Cost</h4>
        </div>

        <mat-expansion-panel class="panel-wrapper" *ngFor="let plan of getPlans(sortingCriterion)">
            <mat-expansion-panel-header class="panel-headers">
                <mat-panel-title class="panel-title">
                    {{plan.name}}
                </mat-panel-title>
                <mat-panel-description>
                    <div class="panel-medal">
                        <span style="text-align: center; width: 100%; font-size: 1.2rem;"
                            [ngClass]="{bronze: plan.metalLevel === 'expanded bronze' || plan.metalLevel === 'bronze', silver: plan.metalLevel === 'silver', catastrophic: plan.metalLevel === 'catastrophic', platinum: plan.metalLevel === 'platinum', gold: plan.metalLevel === 'gold'}">{{plan.metalLevel.trim().toUpperCase()}}</span>
                    </div>
                    <p class="panel-cost"><span
                            style="text-align: center; width: 100%; font-family: inherit; font-size: inherit; line-height: inherit;">${{plan.cost
                            |
                            number:'1.2-2'}}</span></p>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="panel-body">
                <div class="top-stats">
                    <div class="price-box">
                        <p class="price-name">Monthly Premium</p>
                        <p class="price-cost">${{plan.premium | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Annual Premium</p>
                        <p class="price-cost">${{plan.premium * 12 | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Out of Pocket Cost</p>
                        <p class="price-cost">${{plan.outOfPocket | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Total Medical Cost</p>
                        <p class="price-cost">${{plan.cost | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Deductible</p>
                        <p class="price-cost">${{plan.deductible | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Maximum Out of Pocket Cost</p>
                        <p class="price-cost">${{plan.maximumOutOfPocket | number:'1.2-2'}}</p>
                    </div>

                    <div class="price-box">
                        <p class="price-name">Maximum Possible Medical Cost</p>
                        <p class="price-cost">${{plan.maximumOutOfPocket + plan.premium * 12 | number:'1.2-2'}}</p>
                    </div>
                </div>

                <div *ngFor="let benefit of plan.benefits | keyvalue" style="margin-top:10px;">
                    <div class="bottom-stats">
                        <div>
                            <p style="font-weight:600;">{{benefit.key}}</p>
                            <p>Some description text to describe what's going on with this benefit.</p>
                        </div>
                        <div class="you-pay"
                            *ngIf="(showingPreDeductible && benefit.value.preDeductible.copay) || (!showingPreDeductible && benefit.value.afterDeductible.copay)">
                            <div class="price-name">You Pay</div>
                            <div class="price-cost">${{showingPreDeductible ?
                                benefit.value.preDeductible.copay.amount :
                                benefit.value.afterDeductible.copay.amount}}</div>
                        </div>
                        <div class="you-pay"
                            *ngIf="(showingPreDeductible && benefit.value.preDeductible.coinsurance) || (!showingPreDeductible && benefit.value.afterDeductible.coinsurance)">
                            <div class="price-name">You Pay</div>
                            <div class="price-cost">{{showingPreDeductible ?
                                benefit.value.preDeductible.coinsurance.amount
                                : benefit.value.afterDeductible.coinsurance.amount}}%</div>
                        </div>
                    </div>
                </div>

            </div>
        </mat-expansion-panel>
    </main>
</div>
<ng-template #elseBlock>
    <main>
        <div *ngIf="(userService.currUser | async)?.claims?.length > 0; else errorElseBlock">
            <p>You haven't requested a recommendation yet. </p>
            <button mat-flat-button class="buttons" color="basic" [disabled]="isWorking"
                (click)="onGetNewRecommendations()"> GET
                RECOMMENDATIONS </button>
        </div>
        <ng-template #errorElseBlock>
            <p> You haven't updated claims data yet. Click the "Claims" tab to connect to your FHIR provider. </p>
        </ng-template>
    </main>
</ng-template>