/* You can add global styles to this file, and also import other style files */
@import "~src/styles/variables";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* { 
    font-family: $font-sans, sans-serif;
    font-size: 1rem;
    color: $body-text-color; 
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body { 
    margin: 10px; 
    background-color: $bg-color;
}
main{
    width: 80vw;
    margin: 0 auto;
}
.buttons{
    background-color: $secondary-color-600 !important;
}
.buttons-inactive{
    background-color: $secondary-color-400 !important;
}

footer{
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    padding-left: $bar-padding-left;

    display: flex;
    align-items: center;
    background-color: $secondary-color-500;

    .footer-caption{
        margin: 0;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.mat-focused .mat-form-field-ripple {
    background-color: #1F2B49 !important;
}

.mat-focused .mat-form-field-underline {
    background-color: #1F2B49 !important;
}

.mat-focused .mat-form-field-label {
    color:#1F2B49 !important;
    font-weight: 700 !important;
}

.mat-error {
    color: darkred !important;
}

.mat-error .mat-form-field-ripple {
    background-color: darkred !important;
}