<header>
    <div style="display: flex">
        <mat-icon>calendar_today</mat-icon>
        <div>
            <h2>Health Coverage </h2>
            <h2 style="color: white">Reimagined</h2>
        </div>
    </div>
    <nav>
        <button mat-button class="nav-links" [color]="currPage === 'overview' ? 'accent' : 'basic'"
            (click)="router.navigateByUrl('overview')">RECOMMENDATIONS</button>
        <button mat-button class="nav-links" [color]="currPage === 'claims' ? 'accent' : 'basic'"
            (click)="router.navigateByUrl('claims')">YOUR CLAIMS </button>
        <button mat-button class="nav-links" [color]="currPage === 'profile' ? 'accent' : 'basic'"
            (click)="router.navigateByUrl('profile')"> PROFILE </button>
        <button mat-button class="nav-links" [color]="currPage === 'ehr' ? 'accent' : 'basic'"
            (click)="router.navigateByUrl('ehr')"> EHR </button>
        <button mat-button class="nav-links" [color]="'basic'"
            (click)="logout()"> LOGOUT </button>
    </nav>
</header>

<div [ngSwitch]="currPage" style="margin-top: 20px">
    <app-dashboard-overview *ngSwitchCase="'overview'"></app-dashboard-overview>
    <app-dashboard-claims *ngSwitchCase="'claims'"></app-dashboard-claims>
    <app-dashboard-profile *ngSwitchCase="'profile'"></app-dashboard-profile>
    <app-dashboard-ehr *ngSwitchCase="'ehr'"></app-dashboard-ehr>
</div>