@import "~src/styles/variables";

main{
    width: 70vw;
    margin-bottom: 60px;
}
h1{
    font-family: $font-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;

    margin-bottom: 50px;
}